
h2{
    padding:1%;
}

#btnRedirectReg{
    font-size: 13px;
}

ion-content.content-center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

/* Centrar el contenido horizontalmente */
div.centered-content {
    text-align: center;
}

.input-style {
    max-width: 300px; /* O cualquier otro valor que desees para el ancho máximo del input */
    margin: 0 auto; /* Para centrar el input horizontalmente dentro del contenedor */
}

.input-styleAddP{
    max-width: 400px; /* O cualquier otro valor que desees para el ancho máximo del input */
    margin: 0 auto; /* Para centrar el input horizontalmente dentro del contenedor */
}
#mapaInput{
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}